
.header__burger{
    display: none;
}
@media (max-width:767px) {
    body.loock{
        overflow: hidden;
        /* запрет скрола во время  открытого бургера */
        
    }

    .header__burger{
        display: block;
        position: relative;
        width: 24px;
        height: 24px;
        z-index: 5;
    }
    .header__burger span{
        position: absolute;
        background-color: #F79901;
        left: 0;
        width: 100%;
        height: 2px;
        top: 11px;
        transition: all 0.3s ease 0s;
    }

    .header__burger:before,
    .header__burger:after{
        content: ""; 
        background-color: #F79901;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;

    }

    .header__burger:before{
        top: 0;

    }
    .header__burger:after{
        bottom: 0;
    }

    .header__burger.active:before{
        transform: rotate(45deg);
        top: 11px;
    }
    .header__burger.active:after{
        transform: rotate(-45deg);
        bottom: 11px;
    }
    .header__burger.active span{
        transform: scale(0);
    }
}



