@import "nullstyle.scss";
@import "slide.css";
@import "burger.css";

$border:1px solid red;

body{
    height: 100%;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #4D4D4D;
}
.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}


._container {
    max-width: 1213px;
    margin: 0 auto;
    box-sizing: content-box;
    padding: 0 15px;
    @media (max-width:1040px) {
       padding: 0 42px; 
    }
}

._ibg{
    position: relative;

}
._ibg img{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
} 

._button{
    display: flex;
    
    justify-content: center;
    align-items: center;
    
    border: 1px solid #F79901;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    border-radius: 2px;
    color: #FFF;
    transition: all 0.3s ease 0s;
    width: 150px;
    height: 40px;
    text-align: center;
    
    background: url(../img/button/right.svg);
    background-position: 120px center;
    background-repeat: no-repeat;
    // background-size: 16px 16px;
    background-color: #F79901;
   
}

/*-------------page-----------------------------------*/
.page {
    flex: 1 1 auto;
    &__main-block {     
    }
    &__profile {
    }
    &__services {
    }
}
/*-----------header-block-------------*/
.header-block {
    text-align: center;
    // .header-block__title

    &__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 47px;
        letter-spacing: 0.2px;
        color: #252B42;
    }
    &__title span{
        color: #F79901;
    }
    // .header-block__subtitle

    &__subtitle {
        color: #F79901;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.2px;
        text-transform: capitalize;
    }
}

/*--------------header--------------------------------*/
.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 40;

    padding: 24px;
    min-height: 88px;
    // .header__container

    &__container {
        display: flex;
        // justify-content: space-between;
        // flex-wrap: wrap;
        align-items: center;
        position: relative;
    
    }

    // .header__logo

    &__logo {
        position: relative;
        flex: 1 1 auto;
        border: $border;
        z-index: 4;
        @media (max-width:767px) {
            order: 2;
            display: flex;
            justify-content: flex-start;
            
            margin-left: 8px;
        }
    }

    // .header__menu

    &__menu {
        display: flex;
        // flex: 1 1 auto;
        @media (min-width:767px) {
             align-items: center;
            justify-content: flex-end;
        }
       
        @media (max-width:767px) {
            justify-content: center;
            position: fixed;
            top: -100%;
            left: 0;
            width: 100%;
            overflow: auto; 
             height: 100%;
            background-color: #6f922d;
            padding: 140px 0 0 0 ;
            transition: all 0.3s ease 0s;
        }
    }
    &__menu.active{
        @media (max-width:767px) {
            top: 0;
        }
    }

    // .header__button

    &__button {
        position: relative;
        z-index: 5;
        display: flex;
        border: $border;

        // justify-content: flex-end;
        right: 15px;


        @media (max-width:767px) {
            order: 3;
            
    
        }
    }
}

.header:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-color: #4D4D4D;
    z-index: 3;
}
.menu-header {

    // .menu-header__list

    &__list {
        display: flex;
        position: relative;
        z-index: 3;
        @media (max-width:767px) {
            display: block;
        }
    }

    // .menu-header__item

    &__item {
        margin-right: 56px;
    }

    // .menu-header__link

    &__link {
        color: #000000;
    }

    &__link_active{
        color: #F79901;
        font-weight: 700;
    }
}
/*-----------main-block---------------------*/

.main-block {
    position: relative;
    
    z-index: 3;
    background:linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), radial-gradient(50% 50% at 50% 50%, rgba(219, 219, 219, 0.8) 0%, rgba(219, 219, 219, 0) 100%), radial-gradient(77.47% 100% at 85.83% 100%, #FDAB01 0%, rgba(253, 171, 1, 0) 100%), radial-gradient(89.64% 57.39% at 10.36% 0%, #DCE8EE 0%, rgba(220, 232, 238, 0) 100%), linear-gradient(0deg, #C8C8C8, #C8C8C8), #FFFFFF;

    
    padding: 350px 0 333px 0;
    @media (max-width:600px) {
       padding: 160px 0 292px 0; 
    }
    &__screen{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;

        z-index: 2;
        background: url(../img/main/Mask_group.png) 0 0 no-repeat; 
        background-size: cover;
        mix-blend-mode: overlay;
        
        // transform: matrix(-1, 0, 0, 1, 0, 0);
    }
    &__container {

    }

    // .main-block__body

    &__body {
        
        display: flex;
        flex-direction: column;
        @media (max-width:1040px) {
            justify-content: center;
            text-align: center;
            align-items: center;
        }
    }

    // .main-block__title

    &__title {
        font-weight: 700;
        font-size: 58px;
        line-height: 112%;
        letter-spacing: 0.2px;
        color: #252B42;
        max-width: 851px;
        position: relative;
        padding-bottom: 37px;
        @media (max-width:1040px) {
            font-size: 48px; 
        }
         @media (max-width:600px) {
            font-size: 40px;
            padding-bottom: 63px; 
        }
    }
    &__title span{
        color: #F79901;
    }

    &__button{

    }
}

/*--------profile--------------------------*/

.profile {
    padding: 114px 0;
    
    // .profile__container
    @media (max-width:1040px) {
       margin-top: -100px;
       position: relative;
       z-index: 50;
       padding-top: 0;
   }
    &__container {
        
    }

    // .profile__header

    &__header {
        margin:0 0 103px 0;
       display: flex;
       flex-direction: column;
       flex: 1 1 100%;
       @media (max-width:1040px) {
            order: 2;
            margin: 53px 0 68px 0;
       }
   }
        


    // .profile__body

    &__body {
        display: flex;
        // border: $border;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        @media (max-width:900px) {
            
        }
    }

    // .profile__slider

    &__slider {
        // border: $border;
        display: flex;
        flex: 0 1 566px;
        min-width: 0;
        
        @media (max-width:1040px) {
            order:1;
        }
        @media (min-width:1040px) {
            margin-right: 36px;
        }
    }

    // .profile__text

    &__text {
        background: url(../img/profile/stain.svg) center center no-repeat; 
        display: flex;
        background-size: contain;
        height: 362px;
        
        align-items: center;
        line-height: 24px;
        flex: 0 1 611px;
        
        @media (max-width:1250px) {
            flex: 0 1 400px;
            order:3;
        }
        @media (max-width:1040px) {
            flex: 0 1 611px;
            order:3;
            text-align: center;
        }
    }
    
}


/*--------------services-------------------------*/

.services {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), radial-gradient(50% 50% at 50% 50%, rgba(219, 219, 219, 0.8) 0%, rgba(219, 219, 219, 0) 100%), radial-gradient(77.47% 100% at 85.83% 100%, #FDAB01 0%, rgba(253, 171, 1, 0) 100%), radial-gradient(89.64% 57.39% at 10.36% 0%, #DCE8EE 0%, rgba(220, 232, 238, 0) 100%), linear-gradient(0deg, #C8C8C8, #C8C8C8), #FFFFFF;
    padding: 103px 0 154px 0;
    // .services__container

    &__container {
    }

    // .services__header

    &__header {
        padding-bottom: 137px;
    }

    // .services__body

    &__body {
        display: flex;
        justify-content: center;
        @media (max-width:1040px) {
            flex-wrap: wrap;
        }
    }

    // .services__column

    &__column {
        display: flex;
        position: relative;
       z-index: 6;
        // border: $border;
        text-align: center;
    
    }

    // &__column:not(:last-child){
    //         margin:0 50px 0 0;
    //         @media (max-width:1040px) {
    //         margin: 0 0 65px 0;
    //     }
        
    // }
    

    // .services__item

    &__item {
        flex: 0 1 310px;
        background-color: #FFF;
        padding: 40px 32px 40px 30px;
        position: relative;
        z-index: 5;
        box-shadow: 0px 40px 120px rgba(50, 8, 8, 0.06);
        border-radius: 12px;

        
    }

    &__column-orange:before {
       content: "";
       position: absolute;
       
       width: 80%;
       height: 109%;
       background: #F79901;
       border-radius: 12px;
    //    z-index: 2;
       transform: rotate(-3deg);
       left: 20px;
        
    }

    // .services__item-orange

   
}


.item-service {
    text-align: center;
    // .item-service__img
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

    &__img {
        background: #F79901;
        box-shadow: 0px 20px 30px rgba(255, 140, 76, 0.4);
        border-radius: 5px;
        align-items: center;
        padding: 20px;
        
    }

    // .item-service__title

    &__title {
        margin: 27px 0 24px 0;
        color: #2E2E2E;
        
    }

    // .item-service__text

    &__text {
    }
}



/*---------------------------*/
.footer {
}

