@charset "UTF-8";
/*Обнуление*/
@import "slide.css";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*------------------------------------------------*/
/*------------------------------------------------*/
/*------------------------------------------------*/
/*------------------------------------------------*/
body {
  height: 100%;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #4D4D4D;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

._container {
  max-width: 1213px;
  margin: 0 auto;
  box-sizing: content-box;
  padding: 0 15px;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

._button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #F79901;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
  border-radius: 2px;
  color: #FFF;
  transition: all 0.3s ease 0s;
  width: 150px;
  height: 40px;
  text-align: center;
  background: url(../img/button/right.svg);
  background-position: 120px center;
  background-repeat: no-repeat;
  background-color: #F79901;
}

/*-------------page-----------------------------------*/
.page {
  flex: 1 1 auto;
}
/*-----------header-block-------------*/
.header-block {
  text-align: center;
}
.header-block__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.2px;
  color: #252B42;
}
.header-block__title span {
  color: #F79901;
}
.header-block__subtitle {
  color: #F79901;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  text-transform: capitalize;
}

/*--------------header--------------------------------*/
.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 40;
  padding: 24px;
  min-height: 88px;
}
.header__container {
  display: flex;
  justify-content: space-between;
}
.header__menu {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: flex-end;
}
.menu-header__list {
  display: flex;
}
.menu-header__item {
  margin-right: 56px;
}
.menu-header__link {
  color: #000000;
}
.menu-header__link_active {
  color: #F79901;
  font-weight: 700;
}

/*-----------main-block---------------------*/
.main-block {
  position: relative;
  z-index: 3;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), radial-gradient(50% 50% at 50% 50%, rgba(219, 219, 219, 0.8) 0%, rgba(219, 219, 219, 0) 100%), radial-gradient(77.47% 100% at 85.83% 100%, #FDAB01 0%, rgba(253, 171, 1, 0) 100%), radial-gradient(89.64% 57.39% at 10.36% 0%, #DCE8EE 0%, rgba(220, 232, 238, 0) 100%), linear-gradient(0deg, #C8C8C8, #C8C8C8), #FFFFFF;
  padding: 350px 0 333px 0;
}
.main-block__screen {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: url(../img/main/Mask_group.png) 0 0 no-repeat;
  background-size: cover;
  mix-blend-mode: overlay;
}
.main-block__body {
  display: flex;
  flex-direction: column;
}
.main-block__title {
  font-weight: 700;
  font-size: 58px;
  line-height: 65px;
  letter-spacing: 0.2px;
  color: #252B42;
  max-width: 851px;
  position: relative;
}
.main-block__title span {
  color: #F79901;
}
/*--------profile--------------------------*/
.profile {
  padding: 114px 0;
}
@media (max-width: 1040px) {
  .profile {
    margin-top: -283px;
    position: relative;
    z-index: 50;
  }
}
.profile__header {
  padding-bottom: 103px;
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
}
@media (max-width: 1040px) {
  .profile__header {
    order: 2;
  }
}
.profile__body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.profile__slider {
  display: flex;
  flex: 0 1 566px;
  min-width: 0;
  margin-right: 36px;
}
@media (max-width: 1040px) {
  .profile__slider {
    order: 1;
  }
}
.profile__text {
  background: url(../img/profile/stain.svg) center center no-repeat;
  display: flex;
  height: 362px;
  align-items: center;
  line-height: 24px;
  flex: 0 1 611px;
}
@media (max-width: 1250px) {
  .profile__text {
    flex: 0 1 400px;
    order: 3;
  }
}
@media (max-width: 1040px) {
  .profile__text {
    flex: 0 1 611px;
    order: 3;
  }
}

/*---------------------------*/
/**/
.profile__swiper {
  border-radius: 24px;
}
.image-slider__img img {
  max-width: 100%;
  height: 100%;
}

.swiper-slide {
  background: url(../img/profile/slide/slick.svg) !important;
}

.swiper-pagination {
  padding-bottom: 20px;
}

.swiper-pagination-bullet {
  background: #FFFFFF !important;
  opacity: 0.3 !important;
  border-radius: 1px !important;
  width: 16px !important;
  height: 3px !important;
}

.swiper-pagination-bullet-active {
  width: 24px !important;
  opacity: 1 !important;
  border-radius: 1px !important;
}/*# sourceMappingURL=style.css.map */